.loading-icon-container .loading-icon {
    background: url("./img/ajax-indicator-lg.gif");
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

.loading-icon--login, .loading-icon--tasks {
    display: none;
}