.clearfix {
    float: none;
    clear: both;
}

.jira-tiles {
    font-family: Arial;
    width: 20cm;
}

.jira-tiles .jira-task-container {
    border-bottom: solid 1px #000000;
}

.jira-tiles .jira-task {
    width: 10cm;
    min-height: 3cm;
    border: solid 2px #000000;
    margin: 10px;
}

.jira-tiles .jira-task .id {
    font-weight: bold;
    background-color: dodgerblue;
    border-bottom: solid 2px #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.jira-tiles .jira-task .summary {
    padding: 10px;
}

.jira-tiles .jira-task--subtask {
    width: 7cm;
    float: left;
}
