.loading-icon-container .loading-icon {
  background: url("./img/ajax-indicator-lg.gif");
  width: 32px;
  height: 32px;
  margin: 0 auto; }

.clearfix {
  float: none;
  clear: both; }

body {
  font-family: Arial; }

.loading-icon--login,
.loading-icon--tasks {
  display: none; }

.app-title {
  color: #243781; }

.login-container {
  float: right; }

.ticket-form-container {
  margin-top: 15px; }
  .ticket-form-container .color-controls {
    margin-top: 5px; }

.jira-tiles {
  font-family: Arial;
  width: 200mm;
  border-right: dashed 1px #828282; }
  .jira-tiles .jira-task-container {
    border-bottom: solid 1px #000000; }
  .jira-tiles .jira-task {
    width: 370px;
    min-height: 3cm;
    border: solid 2px #000000;
    margin: 10px; }
    .jira-tiles .jira-task .id {
      font-weight: bold;
      border-bottom: solid 2px #000000;
      color: #fff;
      padding: 10px;
      text-align: center; }
    .jira-tiles .jira-task .summary {
      padding: 10px;
      font-weight: bold;
      font-size: 14px; }
  .jira-tiles .jira-task--subtask {
    width: 7cm;
    float: left; }
    .jira-tiles .jira-task--subtask .summary {
      font-weight: normal;
      font-size: 14px; }

@media print {
  .non-printable {
    display: none; } }
