.clearfix {
  float: none;
  clear: both;
}

body {
  font-family: Arial;
  background-color: gray;
}

.app-title {
  color: #243781;
}

.error-msg {
  color: #ff0000;
  display: none;
}


@media print {
  .non-printable {
    display: none;
  }
}