//main
@import "main";

//components
//TODO try static urls
@import "../../js/directives/loading-icon/styles";
@import "../../js/directives/login/styles";
@import "../../js/directives/pdf-exporter/styles";
@import "../../js/directives/task-finder/styles";
